* {
  box-sizing: border-box;
}

.box {
  width: 24.99%;
  height: auto;
  padding: 15px;
  background: #838383;
}

.box-inner-wrapper {
  overflow: hidden;
  position: relative;
  height: 0;
  padding-bottom: 68%;
}

.box-inner-inner-wrapper {
  background: #e7e7e8;
  border: 1px solid red;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.box p {
  margin: 10px;
}

li {
  line-height: 1;
  list-style-type: none;
  list-style-image: none;
}

#container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.box-1x1 {
}

.box-1x2 .box-inner-wrapper{
  padding-bottom: 136%;
}

.box-2x2 {
  width: 49.99%;
}